.containe{
	max-width:330px;
	margin: 0, auto;

}
.corpos{
	background-image: url(imagens/05.jpg);
	background-repeat: no-repeat;
	webkit-background-size: cover;
    -moz-background-siz position: fixed; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative; 

}
