.txtg{
	background:#f7f9fc;
	border:none;
	border-bottom:1px solid #dfe7f1;
	border-radius:0;
	box-shadow:none;
	outline:none;
	color:inherit;
	text-indent:6px;
	height:400px;
	}
.txt{
	background:#f7f9fc;
	border:none;
	border-bottom:1px solid #dfe7f1;
	border-radius:0;
	box-shadow:none;
	outline:none;
	color:inherit;
	text-indent:6px;
	height:40px;
}