.header{
	background-image: url(/public/imagens/02.jpg);
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100%;
 
  
   
  
    

}

.fontee{
	color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.img{
background-position: center-top;
padding-top: 300px;
padding-bottom:300px;
}
.content-site{
padding-top: 100px;
padding-bottom: 100px;

}

.img-site{
	background-image: url(/public/imagens/02.jpg);
	background-position: center-top;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:fixed;
	padding-top:200px;
	padding-bottom:200px;
}

.rodape{
background-color: #333333;
color: white;
padding-top:50px;
padding-bottom:50px;

}
